body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.header-section{
    background-color: #FFF8F3;
}
.hed-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.hed-title h3{
    color: #181818;
    font-size: 45px ;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    align-items: center;
}
.hed-title h3 span{
    color: #FD6E0A;
}
.hed-title ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.hed-title ul li{
    margin-right: 50px;
}
.hed-title ul li a{
    text-decoration: none;
    color: #474747;
}

.btn-primary{
    background: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* banner */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}
.banner-text{

}
.banner-mager{}
.banner-mager img{
    width: 500px;
    background-image: url('./images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}